################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/
/.vs/OKRAdminService/config/applicationhost.config
/OKRAdminService.Common/bin/Debug/netcoreapp3.1
/OKRAdminService.Common/obj
/OKRAdminService.Database/bin/Debug
/OKRAdminService.Database/obj/Debug
/OKRAdminService.Database/OKRAdminService.Database.sqlproj.user
/OKRAdminService.Database/OKRAdminService.Database.jfm
/OKRAdminService.Database/OKRAdminService.Database.dbmdl
/OKRAdminService.DataProvider/obj
/OKRAdminService.EF/bin/Debug/netcoreapp3.1
/OKRAdminService.EF/obj
/OKRAdminService.Services/bin/Debug/netcoreapp3.1
/OKRAdminService.Services/obj
/OKRAdminService.UnitTests/bin/Debug
/OKRAdminService.UnitTests/obj
/OKRAdminService.ViewModels/bin/Debug/netcoreapp3.1
/OKRAdminService.ViewModels/obj
/OKRAdminService.WebCore/bin/Debug
/OKRAdminService.WebCore/obj
/OKRAdminService.WebCore/Properties
/OKRAdminService.WebCore/OKRAdminService.WebCore.csproj.user
/OKRAdminService.Database/.vs/OKRAdminService.Database/v16/.suo
/.vs/OKRAdminService/config
/OKRAdminService.EF/Database/CURRENT_RELEASE/run.sh
